body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
}

.hero button {
  padding: 12px 20px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}